/* Text color */

.artist_container {
  color: rgb(195, 247, 9);
}

/* Form Button color */

#form_button {
  border: none;
  background-color: #ffae57;
  color: #1d2433;
  align-self: center;
  margin: 0 20%;
}

.btn-primary {
  text-align: center;
}

/* Form Button Animation */

#form_button:hover {
  transition: transform 0.3s ease-out;
  transform: scale(1.1);
}

span {
  color: white;
}

Label {
  color: rgb(195, 247, 9);
}

img.thumbNail {
  width: 17vw;
  height: auto;
  margin-top: 5px;
  padding: 5px;
  border: 2px solid rgb(175, 175, 175);
  min-height: 100px;
}

.artist_container .card-body {
  border: none;
  width: 25%;
  justify-content: space-between;
}

.imagesUploadArtistForm {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.artist_container .w-100 {
  display: flex;
  flex-direction: column;
}

.form {
  display: flex;
  flex-direction: column;
}

.artistImagesCard {
  display: flex;
  flex-direction: column;
}

#ArtistForm {
  display: flex;
  flex-direction: column;
}

#ArtistForm p {
  text-decoration: none;
  color: white;
}

@media screen and (min-width: 320px) and (max-width: 1000px) {
 #artistCard {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  #artistCard .card-body {
    width: 100%;
  }
}