.edit_show {
   background-color: #1d2433;
   color: rgb(195, 247, 9);
}

.card-body {
   border: none;
}

h2, h5 {
   color: rgb(195, 247, 9);
}

.w-75, .w-100 {
   border: none;
   background-color: #ffae57;
   color: #1d2433;
   width: 50vw;
}

#show_button:hover {
   transition: transform 0.3s ease-out;
   transform: scale(1.1);
}

.thumbNail {
   width: 17vw;
   height: auto;
}

.dates {
   color: black;
   width: fit-content;
}

.delete {
   border: none;
   background-color: #ffae57;
   color: #1d2433;
}

.progress {
   width: 17vw;
}

.imageCard {
   width: 10vw;
}

h5 .image {
   font-size:12pt;
}

.form-file-label {
   color: white;
}

