.single_proposal {
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #1d2433;
  color: white;
  width: 50vw;
}

.proposal_button {
  border: none;
  background-color: #ffae57;
  color: #1d2433;
  width: 75px;
  height: 35px;
}

.proposal_button:hover {
  transition: transform 0.3s ease-out;
  transform: scale(1.1);
}

.single_proposal h4 {
  color: rgb(195, 247, 9);
}

.single_proposal {
  background-color: #1d2433;
  color: white;
}



.single_proposal p {
text-decoration: none;
color: white;
}

.single_proposal h5 {
  font-size: 12pt;
  text-align: justify;
  width: 100%;
}